<nav class="navbar">
  <div class="navbar-container">
    <div class="hamburger">
      <span>&#9776;</span>
    </div>
    <ul class="navbar-menu">
      <li><a href="{{ '/' | relative_url }}">Home</a></li>
      <li><a href="{{ '/call-for-papers/' | relative_url }}">Call for Papers</a></li>
      <li><a href="{{ '/#program' | relative_url }}">Program</a></li>
      <li><a href="{{ '/#speakers' | relative_url }}">Speakers</a></li>
      <li><a href="{{ '/#organizers' | relative_url }}">Organizers</a></li>
      <li><a href="{{ '/#program-committee' | relative_url }}">Committee</a></li>
    </ul>
    <div class="social-icons">
      <a href="https://twitter.com" class="custom-link" target="_blank">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="https://facebook.com" class="custom-link" target="_blank">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="https://linkedin.com" class="custom-link" target="_blank">
        <i class="fab fa-linkedin-in"></i>
      </a>
    </div>
  </div>
</nav>
